# erlang compiled binary
*.dump
*.beam
# vim backup
*~
*.swp
# windows exe
*.exe
# java compiled files
*.class
# lein
.lein-repl-history
# node modules
node_modules
# mac
.DS_Store
# ipython notebook tempdir
.ipynb_checkpoints
